<body>
<!-- side bar and menu  -->
<div class="sidenav">
  <%= link_to "Home", {:action => 'home'} %>
  <%= link_to "News", {:action => 'show_categories'} %>
  <%= link_to "Admin", admin_news_index_path %>
</div>
<div class="main">
  <h1 class="pageTitle">Games News</h1>
  <div align="center">
    <div align="center" id="form_search">
      <%= form_tag search_news_index_path, method: :get do %>
        <input type="text" name="query" id="myInput" placeholder="Search for news..." value="<%= params[:query] %>">
        <%= submit_tag "Search" %>
      <% end %>
    </div>
    <ul id="myUL">
      <h2 id="pageName">News Categories</h2>
      <!-- Display Categories and news of each category -->
      <% if @categories.blank? %>
        <p>There are not any news currently in the system.</p>
      <% else %>
        <ul id="news-list">
          <% @categories.each do |category| %>
              <h2><%= category.name %></h2>
              <% if category.news.any? %>
              <!--   show only news that are not hidden-->
                <% category.news.where(hidden: false).each do |news| %>
                  <li class="news_list" >
                    <h3 id="h3_show_cat"><%= link_to news.title, {:action => 'show', :id => news.id} %></h3>
                    <p class="maxText"><%= news.content %></p>
                    <p><%= link_to "Read More", {:action => 'show', :id => news.id} %></p>
                  </li>
              <% end %>
                <br>
              <% end %>
          <% end %>
        </ul>
      <% end %>

    </ul>
  </div>
</div>

</body>