<div class="sidenav">
  <%= link_to "Admin Home", admin_news_index_path %>
  <%= link_to "Create news", new_admin_news_path %>
  <%= link_to 'Create New Category', new_category_path %>
  <%= link_to 'Edit and Delete Category', categories_path %>
</div>
<h1 class="title">Edit Category</h1>
<div class="main">
  <div align="center">
<ul id="myUL">
<%= form_with model: @category, local: true do |form| %>
  <li>
    <%= form.label :name , id: 'link_style_button'%><br>
    <%= form.text_field :name %>
  </li>

  <p>
    <%= form.submit "Update Category" %>
  </p>
<% end %>
</ul>
<%= link_to 'Back to Admin', admin_news_index_path %>
  </div>
</div>